.container {
    background-color: var(--bgDark);
    height: 862px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;

    place-items: center;
    margin: 4rem 0 3.66rem;
    scroll-snap-type: x mandatory;
    overscroll-behavior-inline: contain;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
.cards > * {
        scroll-snap-align: center;
    }

.cards::-webkit-scrollbar {
        display:none;
    }

@media (width > 1250px) {
    .cards {
        gap: 5rem;
    }
}
@media (width <= 1250px) {
    .cards {
        overflow-x: auto;
        width: 100%;
        gap: 3rem;
    }
    .cards >:first-child {
        margin-left: calc(50vw - 6rem);
    }
    .cards >:nth-child(2) {
    }
    .cards >:last-child {
        margin-right: calc(50vw - 6rem);
    }
}

@media (width <= 834px) {
    .cards {
        gap: 1rem;
    }
}


